.Btn {
  padding: calc(var(--padding) / 2) var(--padding);
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 4px 5px 1px rgba(64, 60, 67, 0.2078431373);
  border-radius: 30px;
  transition: background-color var(--transition);
  outline: none;
  cursor: pointer;
}
.Btn.Primary {
  color: #FFFFFF;
  background: #4F11BA;
}
.Btn.Primary:hover, .Btn.Primary:focus, .Btn.Primary:active {
  background: var(--button-bg-hover);
}
.Btn.Primary:focus {
  border: 2px solid #A26AF6;
}
.Btn.Primary:active {
  transform: scale(0.95);
}
.Btn.Primary:disabled {
  color: var(--button-color-disabled);
  background: var(--button-bg-disabled);
  border: none;
  cursor: default;
}
.Btn.Primary:disabled:active {
  transform: scale(1);
}
.Btn.Secondary {
  color: #212121;
  background: #FFFFFF;
}