@import '../scss/Configuration';
@import '../scss/Functions';
@import '../scss/Variables';
@import '../scss/Breakpoints';
@import '../scss/Mixins';


@import '../scss/Root';

*, ::after, ::before {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  background: #000;
  color: white;
}

button {
  color: var(--font-color);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@import '../scss/Typography';   
@import '../scss/Utilities';
@import '../scss/MediaQueries';