.MessengerAsideItem {
  max-width: 250px;
  max-height: 65px;
  
  &:not(:first-child) {
    margin-top: calc(var(--margin) / 2);
  }
  
  & > a {
    min-width: 250px;
    display: flex;
    width: 100%;
    padding: calc(var(--padding) / 1.5);
    transition: all .3s;

    &.active {
      background: var(--main);
      color: var(--font-white);
    }
  }

}