// Button UI
// __________________________________________________

.btn {
  padding: calc(var(--padding) / 2)  var(--padding);
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 4px 5px 1px #403c4335;
  border-radius: 30px;
  transition: background-color var(--transition);
  outline: none;
  cursor: pointer;
 
  // Button | Primary
  // __________________________________________________
  
  &.primary {
    color: #FFFFFF;
    background: #4F11BA;
    
    &:hover,
    &:focus,
    &:active {
      background: var(--button-bg-hover);
    }

    &:focus {
      outline: 2px solid #A26AF6;
    }
    
    &:active {
      transform: scale(.95);
    }
    
    &:disabled {
      color: var(--button-color-disabled);
      background: var(--button-bg-disabled);
      border: none;
      cursor: default;
      
      &:active {
        transform: scale(1);
      }
    }
    
  };
  
  // Button | Secondary
  // __________________________________________________
  
  &.secondary {
    color: #212121;
    background: #FFFFFF;
  };

  // Button | Circle Animate
  // __________________________________________________
  &.iconAnimate {
    position: relative;
    // width: 36px;
    padding: calc(var(--padding) / 2);
    transition: all .3s;
    overflow: hidden;

    &.iconAnimate > svg {
      // background: var(--main);
      transition: all .3s;
      z-index: 1;
    }

    &:hover {
      // width: 135px;
      overflow: hidden;

      & > span {
        visibility: visible;
        opacity: 1;
        transition: all .3s .1s;
      }
    }

    &:hover > svg,
    &:focus > svg {
      background: var(--button-bg-hover);
    }

    & > span {
      position: absolute;
      left: calc(var(--padding) / 2);
      opacity: 0;
      transition: all .15s .0s;
      z-index: 0;
      visibility: hidden;
    }
  }

};