/* Root
__________________________________________________ */


@each $property, $map in $root {
  // Create global :root
  @if ($property == 'global') {
    :root {
      @each $k, $v in $map {
        --#{$k}: #{$v};
      }
    }
  }

  // Create :root[data-theme="white, dark"]
  @else if ($property == 'theme') {
    @each $theme, $themeMap in $map {
      :root[data-theme="#{$theme}"] {
        @each $k, $v in $themeMap {
        --#{$k}: #{$v};
        }
      }
    }
  }
}