// Variables
// __________________________________________________

$mainWhite: #5012ba;
$mainDark: #a26bf5;

$root: (
  // :root {}
  global: (
    // Font
    margin: breakpoint-get(margin),
    padding: breakpoint-get(padding),
    font-size: breakpoint-get(font-size),
    transition: breakpoint-get(transition),
    border-radius: breakpoint-get(border-radius),

    // Font
    font-white:                 #FFFFFF,
  ),
  // :root theme
  theme: (

    // :root[data-theme="white"] {}
    white: (
        // Backgroun
        bg-body:                    #D1D1D1,
        bg-block:                   #FFFFFF,
        
        // Button | BG
        button-bg-defaut:             #{$mainWhite},
        button-bg-hover:       lighten($mainWhite, 10%),
        button-bg-focused:     lighten($mainWhite, 10%),
        button-bg-active:      lighten($mainWhite, 10%),
        button-bg-disabled:    desaturate($mainWhite, 50%),
        button-color-disabled: darken(#ffffff, 50%),
        // button-bg-disabled:  #625775,

        font-color: #212121,

        border-color: #DADADA,
        
        // Shadow
        shadow: 0px 4px 5px 1px #403c4336,
        
        
    ),

    // :root[data-theme="dark"] {}
    dark: (

      // Backgroun
      bg-body:    #1B1B1B,
      bg-block:   #252525,

      font-color: #d1d1d1,

      border-color: #636363,

      // Shadow
      shadow: 0 2px 5px 1px #00000035,
    ),
  ),
  // :root theme
  color: (

    // :root[data-color="white-purplue"] {}
    white-purplue: (
        // Backgroun
        main:                       $mainWhite,
        
        
    ),
    white-blue: (
        // Backgroun
        main:                       #0e77b0,
        
        
    ),

    // :root[data-color="dark-purplue"] {}
    dark-purplue: (

      // Backgroun
      main:       $mainDark,
    ),
    dark-blue: (
        // Backgroun
        main:                       #57a7dd,
        
        
    ),
  )
);

$typography: (
  desctop: (
    h1: 2.555rem,
    h2: 2.111rem,
    h3: 1.666rem,
    h4: 1.333rem,
    h5: 1.111rem,
    h6: 1rem,
    p:  1rem,
  ),
  tablet: (
    h1: 2.111rem,
    h2: 1.666rem,
    h3: 1.333rem,
    h4: 1.111rem,
    h5: 1rem,
    h6: .888rem,
    p:  .888rem,
  ),
  mobile: (
    h1: 1.444rem,
    h2: 1.222rem,
    h3: 1.111rem,
    h4: 1rem,
    h5: .888rem,
    h6: .777rem,
    p:  .777rem
  ),
);
